[graph]
all-features = true

[licenses]
allow = ["MIT", "Apache-2.0"]
exceptions = [
    { allow = ["BSD-3-Clause"], crate = "encoding_rs" },
    { allow = ["Unicode-3.0"], crate = "unicode-ident" },
]

[licenses.private]
ignore = true

[bans]
multiple-versions = "warn"
wildcards = "deny"
allow-wildcard-paths = true

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-git = [
    "https://github.com/MorpheusXAUT/vacs"
]
